body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}
.all{
  margin: 0 auto;
  width: 1440px;
  height: 875px;
  background-image: url('/images/image 25.png');
}
img{
  width: 200px;
  height: 200px;
}
header{
  width: 1440px;
  height: 91px;
}
.header-logo{
  position: relative;
  left: 100px;
  top: 22px;
  background-image: url('/images/Frame.png');
  width: 165px;
  height: 48px;
}
.above{
  width: 1440px;
  height: 4px;
  background: linear-gradient(90deg, #BF1443 -0.66%, #E7809C 102.4%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer{
  width: 100%;
  height: 201px;
  background-image: url('/images/footer.png');
}
section{
  width: 1440px;
  height: 579px;
  position: relative;
}
.login{
  position: absolute;
  top: 58px;
  left: 487px;
  width: 466px;
  height: 546px;
  background-color: #ffffff;
  box-shadow: 0px 12px 40px rgba(16, 24, 64, 0.24);
}

.text{
  font-size: 24px;
  color: #4B91AF;
  font-family: 'Source Sans Pro', sans-serif;
}
.content{
  position: absolute;
  width: 340px;
  height: 480px;
  margin: 40px 70px;
}
.text-small{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #C8C9CE;
}
.name{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
}
.pass{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
}
.user input{
  border: 1px solid #D8DAE5;
  box-sizing: border-box;
  width: 338px;
  height: 40px;
  border-radius: 8px;
}
.remember{
  font-size: 14px;
  color: #4B91AF;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 20px;
}
.button-login{
  width: 338px;
  height: 40px;
  background-color: #4B91AF;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
.error-text{
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.accept{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
input:checked + .slider {
  background-color: #4B91AF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4B91AF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}